.mainSearchControls .SearchSelectLister, 
.mainSearchControls .TimeRangePicker,
.viewHeader .SearchSelectLister,
.viewHeader .EntitySelectLister {
    float:left;
}
.mainSearchControlsTable {
    width:100%;
}
tr.covered {
    background-color:#9d9;
}

.contextualFeedbackLinks {
    font-size:14px;
}

.highlighted {
    color:#000;
    background-color:#DCD28B;
}
.mainSearchControls .FieldSearch {
    float:left;
    padding-top:1px;
}
.mainSearchControls .FieldSearch label {
    float:left;
    padding:8px 5px 0px 0px;
}


p.exampleText {
    width:250px;
}
.EventsViewer {
    cursor:pointer;
}
.EventsViewer .mouseOverHighlight {
    background-color:#eec;
}
.EventsViewer .customNavigation {
}
.EventsViewer .customNavigation span {
    display:block;
    float:right;
}

.EventsViewer .customNavigation p {
    margin-left:20px;
}
.EventsViewer .splEvent-section_navigation {
    padding:7px 10px 3px 10px;
}



#appBarUnitTests {
    display:none;
}
.splView-discover_reports_1 .mainSearchControls .SearchSelectLister ,
.splView-home .EntitySelectLister,
.splView-home .SubmitButton {
    float:left;
    margin-left:10px;
}

.splView-discover_reports_2 .dashboardCell .TimeRangePicker,
.splView-discover_reports_2 .dashboardCell .SubmitButton {
    float:left;
    margin-left:10px;
}
.splView-discover_reports_2 .panel_row2_col {
    display:none;
}

.dashboardCell .Count {
    float:right;
}
.splView-discover_reports_2 .dashboardCell .FlashChart,
.splView-discover_reports_2 .dashboardCell .JobProgressIndicator {
    clear:both;
}




.SingleValue {
    clear:left;
    float:left;
}
.SingleValue .SingleValueHolder { 
    background-image:none;
    background-color:transparent;
    width:auto;
    font-size:15px;
    font-weight:normal;
    text-align:left;
    color:#111;
    font-weight: 300;
    -moz-border-radius: 0;
    -moz-box-shadow:none;
    -webkit-border-radius: 0;
}
.SingleValue .singleResult {
    font-size:16px;
    font-weight:300;
    color:#111;
}

.dashboardContent .GenericHeader h3 {
    color:#111;
    font-weight: 300;
    font-size: 14px;
}




.splView-validate_app .panel_row1_col .StaticContentSample,
.splView-validate_system .panel_row1_col .StaticContentSample {
    clear:both;
    padding:0px 21px 3px 21px;
    color:#666;
}
.splView-validate_app .panel_row1_col .StaticContentSample div,
.splView-validate_system .panel_row1_col .StaticContentSample div {
    border-top:1px solid #ccc;
    margin-top:5px;
}
.dashboardDescription {
    padding-bottom:7px;
    font-size: 12px;
}


/* stuff for the homepage arrow links */
.splView-home .ViewRedirectorLink a,
.splView-validate_app .ViewRedirectorLink a,
.splView-validate_system .ViewRedirectorLink a {
    background-image:url(images/icon_arrow.png);
    background-repeat:no-repeat;
    background-position:0px 0px;
    display:block;
    width:25px;
    height:25px;
}
.splView-home .SubmitButton,
.splView-validate_app .SubmitButton,
.splView-validate_system .SubmitButton {
    height:auto;
    padding-bottom:5px;
}
.splView-home .searchButton,
.splView-validate_app .searchButton,
.splView-validate_system .searchButton {
    background-color:transparent;
    background-image:url(images/icon_arrow.png);
    background-position:0px 6px;
    background-repeat:no-repeat;
    cursor:pointer;
    height:24px;
    padding-top:0px;
    padding-bottom:0px;
}
.dashboardCell .SingleValueHolder,
.dashboardCell .SingleValueHolder {
    padding:3px 5px 1px 20px;
    background-image:url(images/traffic_light_green.png);
    background-repeat:no-repeat;
    background-position:0px 7px;
}

.dashboardCell .severe {
    background-image:url(images/traffic_light_red.png);
    background-repeat:no-repeat;
    background-position:1px 8px;
}
.dashboardCell .elevated {
    background-image:url(images/traffic_light_yellow.png);
    background-repeat:no-repeat;
    background-position:1px 8px;
}
.dashboardCell .high {
    background-image:url(images/traffic_light_yellow.png);
    background-repeat:no-repeat;
    background-position:1px 8px;
}



